<app-divider>
    Placeholder
</app-divider>

<app-placeholders></app-placeholders>

<app-divider>
    Segment
</app-divider>
<app-segment>
    <header>
        <i class="pdf file outline icon"></i> <!--Header içinde olan bu kısım child olanda yani segmentte-->
        Hiçbir döküman bulunamadı. Lütfen döküman ekleyin. <!--select içine header yazılarak bu kısım ilgili yere gider.-->
    </header>
    <!--Daha sonraki ngcontent'e otomatik olarak kalan content gidecektir.-->
    <div class="ui primary button">Ekle</div>
</app-segment>